* {
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    font-family: monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 40px;
    width: 100%;
    color: white;
}

span {
    color: hsl(220, 89%, 19%);
    font-weight: 900;
}

img {
    border: 3px solid black;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px 20px 50px;
    gap: 20px;
    height: 100%;
    width: 50%;
    background-color: hsl(219, 97%, 25%);
    border: 3px solid black;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    height: 100%;
    padding: 20px;
    border: 3px solid black;
}